@model Shoppi.Web.Models.AddressViewModels.AddressDeleteViewModel
@{
    ViewBag.Title = "Delete an address";
}

<h2>Are you sure you want to delete this address?</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine)
        @Html.DisplayFor(m => m.AddressLine)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.DisplayFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode)
        @Html.DisplayFor(m => m.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Country)
        @Html.DisplayFor(m => m.Country)
    </div>
    <div class="form-group">
        @Html.ActionLink("Cancel", "Index")
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
}