@model Shoppi.Web.Models.CartViewModels.CartIndexViewModel
@{
    ViewBag.Title = "My Cart";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @Html.Partial("PageHeader")
        @if (Model.Lines.Count == 0)
        {
            <h4>Your cart is empty! :(</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                @foreach (var line in Model.Lines)
                {
                    <tr>
                        <td>@line.ProductName</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn js-decrement-button" data-id=@line.ProductId>-</button>
                                <button type="button" class="btn" disabled id=@line.ProductId>@line.Quantity</button>
                                <button type="button" class="btn js-increment-button" data-id=@line.ProductId>+</button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger js-delete-button" data-id=@line.ProductId>x</button>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section scripts {
    <script>
        $(".js-decrement-button").click((e) => {
            var productId = $(e.target).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DecrementQuantity","Cart")',
                data: { id: productId },
                success: (data) => {
                    $('#' + productId).html(data.quantity);
                    updateCart();
                }
            });
        });

        $(".js-increment-button").click((e) => {
            var productId = $(e.target).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("IncrementQuantity","Cart")',
                data: { id: productId },
                success: (data) => {
                    $('#' + productId).html(data.quantity);
                    updateCart();
                }
            });
        });

        $('.js-delete-button').click((e) => {
            var productId = $(e.target).data('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Cart")',
                data: { id: productId },
                success: () => {
                    $('#' + productId).closest('tr').remove();
                    updateCart();
                }
            });
        });
    </script>
}