@using Shoppi.Helpers;
@model Shoppi.Models.ProductCreateViewModel

@{
    ViewBag.Title = "Add a product";
}

<h1>Add a product</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenForSelectListItem(Model.Categories, "Categories")

    <div class="form-group">
        @Html.LabelFor(x => x.Name) @Html.EditorFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.Label("Category") @Html.DropDownListFor(x => x.CategoryId, Model.Categories, "Choose a category")
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Quantity) @Html.EditorFor(x => x.Quantity)
    </div>
    <div class="form-group">
        @Html.ActionLink("Cancel", "Index")
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}