@model Shoppi.Web.Models.ProductViewModels.ProductIndexViewModel
@{
    ViewBag.Title = "Products";
}

@Html.Partial("PageHeader")
@Html.ActionLink("Add new product", "Create")

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Page)
        @Html.EditorFor(m => m.Page)

        @Html.LabelFor(m => m.ProductsPerPage)
        @Html.DropDownListFor(m => m.ProductsPerPage, new List<SelectListItem> { new SelectListItem { Value = "9", Text = "9" },
                                                                                 new SelectListItem { Value = "18", Text = "18" },
                                                                                 new SelectListItem { Value = "27", Text = "27" } }
                                                                                 )
        <button type="submit" class="btn btn-primary">Filter</button>
    }
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 col-sm-6">
            <a href=@Url.Action("Details", "Product", new { id = @product.Id })>
                <div class="thumbnail thumbnail-product">
                    @if (product.ImagePath != null)
                {
                        <img src=@Url.Action("GetImage", new { id = @product.Id }) alt=@product.Name />
                    }
                    <div class="caption row">
                        <div class="col-sm-9">@product.Name</div>
                        <div class="col-sm-3">@product.Price</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>