@model Shoppi.Web.Models.ProductViewModels.ProductIndexViewModel
@{
    ViewBag.Title = "Products";
}

@Html.Partial("PageHeader")
@Html.ActionLink("Add new product", "Create")

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 col-sm-6">
            <a href=@Url.Action("Details", "Product", new { id = @product.Id })>
                <div class="thumbnail thumbnail-product">
                    @if (product.ImagePath != null)
                {
                        <img src=@Url.Action("GetImage", new { id = @product.Id }) alt=@product.Name />
                    }
                    <div class="caption row">
                        <div class="col-sm-9">@product.Name</div>
                        <div class="col-sm-3">@product.Price</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>