@using Shoppi.Web.Helpers;
@model Shoppi.Web.Models.CategoryViewModels.CategoryCreateViewModel
@{
    ViewBag.Title = "Create a category";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("PageHeader")
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenForSelectListItem(Model.HeadCategoryCandidates, "HeadCategoryCandidates")
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name, "BootstrapString")
            </div>
            <div class="form-group">
                @Html.Label("Head category")
                @Html.DropDownListFor(m => m.HeadCategoryId, Model.HeadCategoryCandidates, "None", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.ActionLink("Cancel", "Index")
                <button type="submit" class="btn btn-primary pull-right">Create</button>
            </div>
        }
    </div>
</div>