@model Shoppi.Web.Models.CategoryViewModels.CategorySubCategoriesViewModel
@{
    ViewBag.Title = "SubCategories";
}

<p>Category @Model.HeadCategoryName has following sub categories (you must delete them before deleting @Model.HeadCategoryName):</p>
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var category in Model.SubCategories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = category.Id })</td>
            </tr>
        }
    </tbody>
</table>