@model Shoppi.Web.Models.AccountViewModels.AccountChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.EditorFor(m => m.OldPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.EditorFor(m => m.NewPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPasswordConfirm)
        @Html.EditorFor(m => m.NewPasswordConfirm)
    </div>
    <div class="form-group">
        @Html.ActionLink("Cancel", "MyAccount")
        <button type="submit" class="btn btn-primary">Change</button>
    </div>

}