@model Shoppi.Web.Models.AccountViewModels.AccountChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("PageHeader")
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.EditorFor(m => m.OldPassword, "BootstrapPassword")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.EditorFor(m => m.NewPassword, "BootstrapPassword")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPasswordConfirm)
                @Html.EditorFor(m => m.NewPasswordConfirm, "BootstrapPassword")
            </div>
            <div class="form-group">
                @Html.ActionLink("Cancel", "MyAccount")
                <button type="submit" class="btn btn-primary pull-right">Change</button>
            </div>
        }
    </div>
</div>
