@model Shoppi.Web.Models.AccountViewModels.MyAccountViewModel

@{
    ViewBag.Title = "My Account";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("PageHeader")
        @Html.ActionLink("Change password", "ChangePassword")
        <br />
        @Html.ActionLink("Manage your addresses", "Index", "Address")
        @if (Model.DefaultAddress != null)
        {
            <ul class="list-group">
                <li class="list-group-item list-group-item-info text-center">Default Address</li>
                <li class="list-group-item"><label>Name:</label> @Model.DefaultAddress.Name</li>
                <li class="list-group-item"><label>Address line:</label> @Model.DefaultAddress.AddressLine</li>
                <li class="list-group-item"><label>City:</label> @Model.DefaultAddress.City</li>
                <li class="list-group-item"><label>Zip code:</label> @Model.DefaultAddress.ZipCode</li>
                <li class="list-group-item"><label>Country:</label> @Model.DefaultAddress.Country</li>
            </ul>
        }
    </div>
</div>