@model Shoppi.Web.Models.AccountViewModels.AccountSignInViewModel

@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("PageHeader")
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, "BootstrapString")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password, "BootstrapPassword")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RememberMe)
                @Html.EditorFor(m => m.RememberMe, "BootstrapBool")
            </div>
            <div class="form-group">
                @Html.ActionLink("Cancel", "Index", "Product")
                <button type="submit" class="btn btn-primary pull-right">Sign In</button>
            </div>
        }
    </div>
</div>
